h1{
    color: red;
    font-size: 40px;
}

h2{
    color: red;
    font-size: 40px;
}

body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

.body-base{
    background-image:url("../images/backgroundhome.jpg");
}