{% extends "base.html" %}
{% block title %}About Page{% endblock %}

{% block aboutpage %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/about.css" />

</head>

<body>

  <div class="bgImgCenter">
    <div class="about-section">

      <h1>About Us</h1><br>
      <p class = "paras">
        MUSF is a music recommendation application that recommends new songs to users based on their music taste. The
        dataset of the songs has been divided into four tables: Song table,
        Album table, Genres table, and Artists table. These tables interact with
        each other curating playlists according to the users' choices. The purpose
        of this application is to allow users to find new music based on their taste
        by providing related songs based on genre or title or find songs too.
        We are designing the app to combine our database skills and improve our web application design skills.
      </p>
    </div>
  </div>

  <section class="services">



    <h1>Our Team</h1>
    <div class="row">
      <div class="column-names">
        <h2 class="title-names">Mark Natavio</h2>
      </div>
      <div class="column-names">
        <h2 class="title-names">Farnaz Zinnah</h2>
      </div>
    </div>
    <div class="row">
      <div class="column-names">
        <h2 class="title-names">Uzma Kapadia</h2>
      </div>
      <div class="column-names">
        <h2 class="title-names">Sadia Chowdhury</h2>
      </div>
    </div>


  </section>

  <div class="navigation-section">
    <h1>Navigating Our App</h1><br>
    <p class = "paras">Go to the search page to find new music.
      Select a Genre or search a song by Keyword.
      Click on the song of your choosing and add it to a playlist.
      Loving the playlist?
      You can make more on your profile page.</p>
  </div>

  </section>

</body>

</html>
{% endblock %}