{% extends 'base.html' %}
{% block title %}Info{% endblock %}

{% block details %} 

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../static/css/search-main.css"/>
</head>
{% endblock %}
{% block content %} 
<h1> {% print(song.song) %}</h1> 
<p> Genre: {% print(genres[song.genre-1].genre) %}</p>
<p> Artist: {% print(artists[song.artist-1].artist) %}</p>
<p> Duration: {% print(song.duration) %}</p>
<p> Album: {% print(albums[song.album-1].album) %}</p>

<form method="get">
  <button name="add_to_playlist" value={{ song.song_id }} onclick="return value"> add to playlist </button>
</form>

<br/>

{% if song.lyrics %}
  <h3> Lyrics </h3>
  <p> {% print(song.lyrics)%} </p>
{% endif %}

{% endblock content %}