{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block details %} 

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../static/css/search-main.css" />
</head>
{% endblock %}

{% block searchpage %}
<br>
  <fieldset><br>
    <legend>WHAT ARE YOU LOOKING FOR?</legend><br>
    <form class="form-inline my-2 my-lg-0" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchTextField">
      <button class="btn btn-outline btn-info">Search</button>
    </form>
  </fieldset>

  <form method="get">
    <div class="container testimonial-group">
      <div class="row text-center">
        <div class="btn-group pre-scrollable" role"group" id="genres">
          {% for genre in genres %}        
            <button class="btn btn-secondary" name="genre_id" value={{ genre.genre_id }} onclick="return value"> {{ genre.genre }} </button>  
          {% endfor %}
        </div>
      </div>
    </div>
  </form>

  <table id="data" class="table table-striped">  
    <tr>
      <th> Song </th>
      <th> Artist </th> 
      <th> Genre </th> 
      <th> Duration </th>
      <th> Check it out </th> 
    </tr>
    {% for song in songs %}
      <form method="post">
        <tr>
          <td> {{ song.song }} </td>
          <td> {{ artists[song.artist-1].artist }} </td>
          <td> {{ genres[song.genre-1].genre }} </td>
          <td> {{ song.duration }} </td>  
          <td> <button name="song_selected" value={{ song.song_id }} onclick="return value">Check Song</button> </td>
        </tr>
      </form>
    {% endfor %}  
  </table>
{% endblock searchpage %}