{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block details %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <fieldset>
    <legend>WHAT ARE YOU LOOKING FOR?</legend>
    <form class="form-inline my-2 my-lg-0" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchTextField">
      <button class="btn btn-outline btn-info">Search</button>
    </form>
  </fieldset>

  <form method="post">
    <div class="container testimonial-group">
      <div class="row text-center">
        <div class="btn-group pre-scrollable" role"group" id="genres">
          {% for genre in genres %}        
            <button class="btn btn-secondary" name="genre_button" value={{ genre.genre_id }} onclick="return value"> {{ genre.genre }} </button>  
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
  
  <hr/>

  <table>
    {% for item in songs %}
    <tr>
      <th> ID: </th> <td> {{item.song_id}} </td>
      <th> Song: </th> <td> {{item.song}} </td>
      <th> Artist: </th> <td> {{item.artist}} </td>
      <th> Genre: </th> <td> {{item.genre}} </td>
      <th> Album: </th> <td> {{item.album}} </td>
      <th> Release Date: </th> <td> {{item.album_date}} </td>
      <th> Duration: </th> <td> {{item.duration}} </td>
    </tr>
    {% endfor %}
  </table>
{% endblock content %}