{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block details %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, form:th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
{% endblock %}

{% block content %}
  <fieldset>
    <legend>WHAT ARE YOU LOOKING FOR?</legend>
    <form class="form-inline my-2 my-lg-0" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchTextField">
      <button class="btn btn-outline btn-info">Search</button>
    </form>
  </fieldset>

  <form method="post">
    <div class="container testimonial-group">
      <div class="row text-center">
        <div class="btn-group pre-scrollable" role"group" id="genres">
          {% for genre in genres %}        
            <button class="btn btn-secondary" name="genre_button" value={{ genre.genre_id }} onclick="return value"> {{ genre.genre }} </button>  
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
  
  <hr/>

  <form method="post">
    <table id="data" class="table table-striped">  
      <tr>
        <th> Song </th>
        <th> Artist </th> 
        <th> Genre </th> 
        <th> Duration </th> 
      </tr>
      {% for song in songs %}
        <tr>
          <td> {{ song.song }} </td>
          <td> {{ artists[song.artist-1].artist }} </td>
          <td> {{ genres[song.genre-1].genre }} </td>
          <td> {{ song.duration }} </td>
          <td> <button name="song_selected" value={{ song.song_id }} onclick="return value">Check Song</button> </td>
        </tr>
      {% endfor %}  
    </table>
  </form>
{% endblock content %}